@use './variables' as v;

.box{
    margin-top: 50px;
    height: 330px;
    border: v.$border;
    box-shadow: v.$shadow;
    padding: 10px 25px;

    b{
        margin-top: 5px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    p{
        margin-top: 5px;
        text-align: center;
        color: v.$primary-text;
        font-size: 13px;
    }

    .header-box{
        display: flex;
        flex-direction: column;
        align-items: center;

        hr{
            margin: 10px;
            width: 80%;
        }
    }

    .box-title{
        font-size: 15px;
    }

    .box-description{
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .item-row{
        width: 80%;
    }

    .item-col{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 1.5rem;

        p{
            margin: 0;
        }
    }

    .box-button{
        margin-top: 10px;
        width: 100%;

        button{
            border-radius: 5px;
            border: 1px solid v.$primary;
            background-color: v.$primary;
            color: v.$white;
            font-size: 15px;
            height: 35px;
        }
    }
}

.box-creation{
    margin-top: 50px;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: v.$shadow;
    border: v.$border;

    .icon{
        color: v.$primary
    }
}

.form-card{
    border: v.$border;
    box-shadow: v.$shadow;
}

.maintenance-container{
    padding: 20px 60px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;

    .filter-button{
        margin-left: 15px;
        height: 40px;
        width: 150px;
        background-color: white;
        border: v.$border;
        color: v.$primary;
        font-weight: bold;
        border-radius: 5px;
    }

    .filter-button-selected{
        margin-left: 15px;
        height: 40px;
        width: 150px;
        background-color: v.$primary;
        border: v.$border;
        color: white;
        font-weight: bold;
        border-radius: 5px;
    }

    @media (max-width: 768px) {

        .filter-button{
            margin-bottom: 10px;
        }

        .filter-button-selected{
            margin-bottom: 10px;
        }

        .button-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    .header-data{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .header-title{
            font-size: 30px;
            font-weight: 600;
            color: v.$primary-text
        }

        .header-description{
            font-size: 15px;
            color: v.$secondary-text;
            text-align: center;
        }
    }
}

.filter-button{
    margin-left: 15px;
    height: 40px;
    width: 150px;
    background-color: white;
    border: v.$border;
    color: v.$primary;
    font-weight: bold;
    border-radius: 5px;
}

.filter-button-selected{
    margin-left: 15px;
    height: 40px;
    width: 150px;
    background-color: v.$primary;
    border: v.$border;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.state-button{
    height: 35px;
    width: 100%;
    background-color: v.$primary;
    border: v.$border;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
}

.graph-container{
    margin-top: 50px;
}

.table-responsive-container {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}