@use './variables' as v;

*{
    font-family: 'Poppins', sans-serif;
}

.title{
    font-size: 30px;
    font-weight: 700;
    color: v.$primary-text
}

.description{
    color: v.$secondary-text
}

.box{
    margin-top: 20px;
    height: 120px;
    border: v.$border;
    box-shadow: v.$shadow;
    cursor: pointer;
}

.filter-title{
    padding: 0;
    margin: 0;
    font-size: 25px;
    font-weight: bold;
    color: v.$primary-text
}

.header-row{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .data-rows{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        p{
            font-size: 20px;
            margin: 0px;
        }
    }
}


.candidate-box{
    margin-top: 30px;
    border: v.$border;
    box-shadow: v.$shadow;

    .candidate-photo{
        overflow: hidden;

        img{
            border-radius: 5px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .candidate-data{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p{
            margin: 0px;
            padding: 0px;
            color: v.$primary-text;
            font-size: 12px;
        }

        hr{
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .name{
            font-size: 16px;
            color: v.$primary-text;
            font-weight: bold;
        }

        button{
            border-radius: 5px;
            border: 1px solid v.$primary;
            background-color: v.$primary;
            color: v.$white;
            width: 100%;
            font-size: 15px;
        }
    }
}

.graph-container{
    margin-top: 30px;
    box-shadow: v.$shadow;
    border: v.$border;
}