@use './variables' as v;

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: v.$shadow;
    border-bottom: v.$border;
    
    h2{
        margin: 0;
        padding: 0;
        font-size: 30px;
        font-weight: 600;
        color: v.$primary-text;
    }

    .icon{
        color: v.$primary-text;
    }
}